---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import { createSignal } from "solid-js";

const [ words, setWords ] = createSignal([
"Fernbedienung",
"Rasierschaum",
"Laderampe",
"Lichterkette",
"Rauhfasertapete",
"Tannenbaumständer",
"Siebträgermaschine",
"Lampenfassung",
"Schneeketten",
"Konfetti",
"Geschenkpapier",
"Schal",
"Murmelbahn",
])

const [ result, setResult ] = createSignal("")

---


<Layout title="Welcome to Astro.">
	<main>
		<h1>Random Word Generator</h1>
		<p>Click the button to generate a random word.</p>
		<button class="py-2 px-3 bg-slate-500 rounded-full active:bg-slate-700 hover:bg-slate-600 border-2 border-slate-400 transition-all duration-100" 
		onclick="{() => setResult}">
			Generate Random Word
		</button>
		<p>{}</p>
		
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	
</style>
